---
http_interactions:
- request:
    method: post
    uri: https://stage.hypotecnibanka.cz/_sys_/HBLeads/mojehyposka
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <data>
          <jmeno>Ms.</jmeno>
          <prijmeni>Wolff</prijmeni>
          <email>juvenile.delinquent@applifting.cz</email>
          <telefon>+420700000001</telefon>
          <psc>11000</psc>
          <souhlas>1</souhlas>
          <cena_nemovitosti>6650000</cena_nemovitosti>
          <vyse_hypoteky>4500000</vyse_hypoteky>
          <fixace>1</fixace>
          <doba_splaceni>120</doba_splaceni>
          <prijem/>
          <splatky_jinych_uveru/>
        </data>
    headers:
      Content-type:
      - text/xml
      Authorization:
      - 'Basic bW9qZWh5cG9za2E6d3ZYbGVJQXI=

'
      User-Agent:
      - Faraday v0.15.4
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: OK
  recorded_at: Thu, 24 Oct 2019 15:00:57 GMT
recorded_with: VCR 5.0.0
